NavAR/Service References/MTDService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Json" elementFormDefault="qualified" targetNamespace="Json" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://developer.cumtd.com/api/v2.2/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" />
  <xs:element name="GetApiUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="method" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start_date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end_date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApiUsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetApiUsageResult" nillable="true" type="q1:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarDatesByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changeset_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarDatesByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetCalendarDatesByDateResult" nillable="true" type="q2:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarDatesByService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="service_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changeset_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarDatesByServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetCalendarDatesByServiceResult" nillable="true" type="q3:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeparturesByStop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stop_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="route_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pt" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeparturesByStopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetDeparturesByStopResult" nillable="true" type="q4:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastFeedUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastFeedUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetLastFeedUpdateResult" nillable="true" type="q5:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlannedTripsByLatLon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="origin_lat" type="xs:decimal" />
        <xs:element minOccurs="0" name="origin_lon" type="xs:decimal" />
        <xs:element minOccurs="0" name="destination_lat" type="xs:decimal" />
        <xs:element minOccurs="0" name="destination_lon" type="xs:decimal" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="max_walk" type="xs:decimal" />
        <xs:element minOccurs="0" name="minimize" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arrive_depart" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlannedTripsByLatLonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetPlannedTripsByLatLonResult" nillable="true" type="q6:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlannedTripsByStops">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="origin_stop_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destination_stop_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="max_walk" type="xs:decimal" />
        <xs:element minOccurs="0" name="minimize" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arrive_depart" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlannedTripsByStopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetPlannedTripsByStopsResult" nillable="true" type="q7:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReroutes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReroutesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetReroutesResult" nillable="true" type="q8:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReroutesByRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="route_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReroutesByRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetReroutesByRouteResult" nillable="true" type="q9:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="route_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changeset_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetRouteResult" nillable="true" type="q10:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changeset_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetRoutesResult" nillable="true" type="q11:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutesByStop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stop_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changeset_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutesByStopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetRoutesByStopResult" nillable="true" type="q12:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShape">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shape_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changeset_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShapeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetShapeResult" nillable="true" type="q13:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShapeBetweenStops">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="begin_stop_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end_stop_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shape_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changeset_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShapeBetweenStopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetShapeBetweenStopsResult" nillable="true" type="q14:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stop_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changeset_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetStopResult" nillable="true" type="q15:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStops">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changeset_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetStopsResult" nillable="true" type="q16:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopsBySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="changeset_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopsBySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetStopsBySearchResult" nillable="true" type="q17:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopsByLatLon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lat" type="xs:decimal" />
        <xs:element minOccurs="0" name="lon" type="xs:decimal" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="changeset_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopsByLatLonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetStopsByLatLonResult" nillable="true" type="q18:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopTimesByTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trip_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changeset_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopTimesByTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetStopTimesByTripResult" nillable="true" type="q19:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopTimesByStop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stop_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="route_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changeset_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopTimesByStopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetStopTimesByStopResult" nillable="true" type="q20:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trip_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changeset_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetTripResult" nillable="true" type="q21:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripsByBlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="block_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changeset_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripsByBlockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetTripsByBlockResult" nillable="true" type="q22:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripsByRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="route_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changeset_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripsByRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetTripsByRouteResult" nillable="true" type="q23:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicle_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetVehicleResult" nillable="true" type="q24:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetVehiclesResult" nillable="true" type="q25:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehiclesByRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="route_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehiclesByRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="GetVehiclesByRouteResult" nillable="true" type="q26:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CatchAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CatchAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Cumtd.Developer.Api" minOccurs="0" name="CatchAllResult" nillable="true" type="q27:rsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>